<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/head :: head"></div>
<body>
<nav th:replace="layout/menu :: menuJacaranda"></nav>

<div class="container">
	<form class="form-horizontal" th:action="@{/employee/edit/submit}"
		th:object="${emp}" th:method="POST">
		<fieldset>

			<legend>Edit Emloyee</legend>
			
			<input  id="id" name="id" th:field="*{id}" th:value="*{id}" hidden>


			<div class="form-group" th:classapend="${#fields.hasErrors('firstName')} ? 'has-error'">
				<label class="col-md-4 control-label" for="name">F.Name</label>
				<div class="col-md-4">
					<input id="firstName" name="firstName" type="text"
						class="form-control input-md" th:field="*{firstName}" required>
					<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
						class="help-block" id="id-error">Errores</span>
				</div>
			</div>

			
			<div class="form-group" th:classapend="${#fields.hasErrors('lastName')} ? 'has-error'">
				<label class="col-md-4 control-label" for="name">L.Name</label>
				<div class="col-md-4">
					<input id="lastName" name="lastName" type="text"
						class="form-control input-md" th:field="*{lastName}" required>
					<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
						class="help-block" id="id-error">Errores</span>
				</div>
			</div>
			
			<div class="form-group" th:classapend="${#fields.hasErrors('email')} ? 'has-error'">
				<label class="col-md-4 control-label" for="name">Email</label>
				<div class="col-md-4">
					<input id="email" name="email" type="email"
						class="form-control input-md" th:field="*{email}" required>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="help-block" id="id-error">Errores</span>
				</div>
			</div>
			
			
			<div class="form-group" th:classapend="${#fields.hasErrors('gender')} ? 'has-error'">
				<label class="col-md-4 control-label" for="name">Gender</label>
				<div class="col-md-4">
					<input id="gender" name="gender" type="text"
						class="form-control input-md" th:field="*{gender}" required>
					<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
						class="help-block" id="id-error">Errores</span>
				</div>
			</div>
			
			<div class="form-group" th:classapend="${#fields.hasErrors('dateOfBirth')} ? 'has-error'">
				<label class="col-md-4 control-label" for="name">Birth Date </label>
				<div class="col-md-4">
					<input id="dateOfBirth" name="dateOfBirth" type="date"
						class="form-control input-md" th:field="*{dateOfBirth}" required>
						<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
						class="help-block" id="id-error">Errores</span>
				</div>
			</div>
			
			
			<div class="form-group" th:classapend="${#fields.hasErrors('company')} ? 'has-error'">
				<label class="col-md-4 control-label" for="category">Company</label>
				<div class="col-md-4">
					<select id="company" name="company" class="form-control">
						<option th:each="company : ${listComp}"
							th:value="${company.id}" th:text="${company.name}">
						</option>
					</select>
					<span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"
						class="help-block" id="id-error">Errores</span>
				</div>
			</div>



			<!-- Button -->
			<div class="form-group">
				<div class="col-md-4">
				
					<button type="submit" id="addItem" name="addItem" class="btn btn-primary">Update</button>
					
					<a href="/listEmployee"><button type="button"
							class="btn btn-danger">Cancel</button>
					</a>
				</div>
			</div>
		</fieldset>
	</form>
	</div>

<div th:insert="layout/footer :: pie"></div>
</body>
</html>